body {
    background: #333
}

#count {
    color: white;
    font-size: 76px;
}

#counter, #buttons, select, #config, #sprites, #share {
    text-align:center;
}

.button {
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    padding: 1px 70px;
}

#multiform, h1, p {
    color: white;
    text-align: center;
}

#stats {
    color: white;
    text-align: center;
    line-height: 1px;
}

#chaininfo, #sctext {
    color: white;
}

#updatebtn {
    border: none;
    display: inline-block;
    padding: 5px 20px;
}

img {
    display: inline-block;
}

#multiform, #pkmninput, #methodselect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tab button {
    background-color: #aaa;
    font-size: 15px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 150px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}